.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  font: 400 14px / 1.42857143 "Roboto", sans-serif;
  font-size: 14px;
  width: 339px;
}
