@{
    ViewData["Title"] = "Home Page";
}

@*<div aurelia-app="main">
  
</div>*@
@*@section scripts {
    <script type="text/javascript" src="~/dist/vendor.js" ></script>
  <script type="text/javascript" src="~/dist/app.js"> </script>
}*@
